page-banana {
    .kk{
        border-style: solid;
      border-width: medium;
      border-radius: 50px;
        margin-top: 20px;
        border-color: red;
     }
     .bg{
        background-image: url('../assets/imgs/images.png');
        background: linear-gradient(to top,#f5eff5 0%,rgb(245, 241, 30) 100%)
    }
}
